<div id="<%= dom_id about %>">
  <p>
    <strong>Title:</strong>
    <%= about.title %>
  </p>

  <p>
    <strong>About text:</strong>
    <%= about.about_text %>
  </p>

  <p>
    <strong>Store:</strong>
    <%= about.store_id %>
  </p>

</div>
