<h1>Editing item purchase</h1>

<%= render "form", item_purchase: @item_purchase %>

<br>

<div>
  <%= link_to "Show this item purchase", @item_purchase %> |
  <%= link_to "Back to item purchases", item_purchases_path %>
</div>
