<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= category.quantity %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= category.department_id %>
  </p>

</div>
